@font-face {
  font-family: "Azo Sans";
  src: url("/fonts/Rui Abreu - AzoSans-Black.otf") format("opentype");
}
@font-face {
  font-family: "Azo Sans";
  font-weight: bold;
  src: url("/fonts/Rui Abreu - AzoSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Azo Sans";
  font-style: italic;
  src: url("/fonts/Rui Abreu - AzoSans-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Azo Sans";
  font-weight: lighter;
  src: url("/fonts/Rui Abreu - AzoSans-Light.otf") format("opentype");
}
@font-face {
  font-family: "Azo Sans";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Rui Abreu - AzoSans-BoldItalic.otf") format("opentype");
}

@import '/bower_components/font-awesome/css/font-awesome.min.css';

body {
  font-family: "Azo Sans";
}
.sizes {
  .btn {
    padding: 1vw 1.7vw;
    font-weight: bold;
  }
}
.submit {
  .btn {
    padding: 1vw 4.5vw;
    font-weight: bold;
  }
}
.row {
  h1{
    font-style: italic;
  }
  h3 {
    font-size: 3vw;
    line-height: 2.3;
  }
  h5 {
    font-size: 1.3vw;
  }
  p{
    font-size: 1.2vw;
  }
  .description{
    text-decoration-line: line-through;
    font-weight: bold;
  }

}
h2{
  position: absolute;
  top: 0;
  left: 2%;
  font-size: 9vw;
  font-style: italic;
  z-index: 1;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
.btn-lg, .btn-group-lg > .btn {
  font-size: 2vw;
  line-height: 1.3333333;
  border-radius: 0px;
  margin-top: 1vw;
}
.btn-primary {
  color: black;
  background-color: white;
  border-color: black;
}
.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}




.submit {
  margin-top:3vw;
}
.contact>.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 35vw;
  border-bottom: 0.2vw solid white;
  border-top: 0.2vw solid white;
}

.col-7>h3 {
    background: black;
    color: white;
    border: white;
    border-width: 0.6vw;
    border-style: solid;
    margin: 0 -7vw;
    font-style: italic;
    font-weight: bold;
}
.facebook {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 17vw;
    border-bottom: 0.2vw solid white;
    text-align: center;
  }
  p{
    color: white;
    padding-bottom: 4vw;
    padding-top: 1vw;
    font-weight: bold;
    font-style: italic;
  }
  h5 {
    color: white;
  }
}
.shops {
  .row>.list {
    width: 100vw;
    display: flex;
    background: black;
    height: 20vw;
    justify-content: center;
    padding-left: 10%;
    padding-top: 4%;
  }
  p{
    color: white;
    font-weight: lighter;
    margin-bottom: 3%;
  }
  h5 {
    color: white;
    font-style: italic;
    font-size: 2vw;
    font-weight:bold;
  }
  .find_us {
    width: 100vw;
    color: white;
    background: black;
    padding: 0 3%;
    padding-top: 2.5%;
    h1{
      font-size: 4.5vw;
      font-weight:bold;
      font-style: italic;
    }
  }
}

.go_to {
  position: absolute;
  top: 70%;
  left:47%;
  z-index: 100;
  h1 {
    color: white;
    font-size: 2.2em;
    min-width: 100vw;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
  span{
    font-size: 0.5em;
    padding: 10px 35px;
    font-style: normal;
    font-weight: bold;
  }
  }
}

.images{
  display: flex;
}


.nav {
  z-index: 3;
  left:-4%;
  font-size: 12vw;
  line-height: 5%;
  margin: auto 0;
  color: white;
  text-decoration: none;
  position: absolute;
  font-style: italic;
  .nav-item {
    margin: -2% 0px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
vg-controls {
  visibility: hidden;
}

vg-media{
  max-width: 100vw !important;
  max-height: 100vh !important;
  video {
      max-width: 100vw !important;
      max-height: 100vh !important;
  }
}
.products {
  padding: 0;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  .col {
    overflow: hidden;
  }
  .row {
    height: 100%;
    .col {
      height: 100%;
    }
  }
}
.photo {
  margin: 0 -15px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.img {
  height: 100%;
}

.nav-link{
  padding: 0.5em 0;
}

.vid {
  width: 100vw;
  height: 100vh;
  background-color: black;
}


.top-menu {
  .container-fluid {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-menu{
    transition: opacity 4s;
    font-weight: bold;
    font-style: italic;
  }
  .hide {
    opacity: 0;
    li {
      a {
        cursor: default !important;
      }
    }
  }
}

.divider {
  position: fixed;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  z-index: 1;
  h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 4.5vw;
  }
}

.item_list {
  z-index: 0;
}
.she{
  left: 4%;
}
.she-1{
  top:40%;
}
.she-2 {
  top: 70%;
}

.half {
  height: 50% !important;
}

.items {
  overflow: hidden;
}

.modal-backdrop {
  background-color: transparent !important;
}

.stores, .contact, .shops {
  z-index: 4;
}
.modal-lg {
  max-width: 95%;
  height: 95vh;
  width: 95%;
  .modal-content{
    height: 100%;
  }
}

div.details{
    height: 100%;
  width: 100%;
  .active{
    background-color: black;
    color: white;
  }
  h1{
    font-style: italic;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 20%;
    margin-bottom: 6%;
    span {
      font-style: italic;
      font-weight: bold;
      font-size: 2vw;
      margin-left: 12%;
    }
  }
}
div.details>.row>.col-6{
  max-width: 50vw !important;
  height: 100%;
  overflow: hidden;
}
div.details>.row{
  height: 100%;
}
.modal-md {
  width: 100%;
  max-width: 80%;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
.send{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 5%;
  form {
    padding: 0 5%;
  }
  .row{
    width: 100%;
  }
  input {
    width: 100%;
    margin-bottom: 3%;
    padding: 1%;
    color: white;
    background-color: black;
    border-color:white ;
    font-size: 2vw;
  }
  input::placeholder {
    color: white;
  }
  .btn-primary{
    width: 100%;
    padding: 1%;
    margin-bottom: 15%;
    font-style: italic;
    font-weight: bold;
    font-size: 2vw;
  }
  .submit:hover{
    border-color: white;
  }

  h1 {
    margin: 5%;
    color: white;
    font-weight: bold;
    font-style: normal;
  }
  h2 {
    color: white;
    position: absolute;
    top: 2%;
    right: 2%;
    left: inherit;
    font-style: italic;
    font-size: 4vw;
  }
}

.wider{
  width: 100% !important;
  height: initial !important;
 }

.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.presale {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  color: white;
  padding: 10px 50px;
  font-size: 1rem;
  text-decoration: none;
}

.presale:hover {
  background-color: black;
  border-color: white;
  border-radius: 0;
  color: white;
  padding: 10px 50px;
  font-size: 1rem;
  text-decoration: none;
}
h1 {
  font-size: 4rem
}
.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: transparent;
  background-image: none;
  border-color: black;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

button {
  cursor: pointer;
}

.main-menu {
    li {
      a {
        cursor: pointer;
      }
    }
}


a, a:hover, a:focus {
   text-decoration: none;
   color: white;
 }

.contact {
  h2{
    position: absolute;
    top: 0;
    left: 89%;
    color: white;
    font-size: 9vw;
  }
  p {
    margin-bottom: 0;
  }
}

.wow {
  display: inline-block;
  position: absolute;
  top: -18%;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 34%;
}
.cart {
  padding-top: 50px;
  h1 {
    font-size: 2em;
    font-style: normal;
  }
  .place-order{
    width: 100%;
    background-color: rgba(255,174,54,1);
    border-width: 0;
    border-color: #000000;
    border-radius: 0;
    color: #FFFFFF;
    padding: 13px 70px;
    margin-bottom: 15px;
    font-size: 0.9em;
  }
  h5 {
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
  }
  .quantity {
    align-items: center;
    display: flex;
    padding-top: 5px;
  }
  input {
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 20px;
  }
  h2 {
    font-size: 1.5em;
    position: relative;
    left: 0;
    font-style: normal;
  }
  p{
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .remove{
    text-decoration: underline !important;
    position: absolute;
    bottom: 6px;
    left: 160px;
    width: 100%;
      }
  }
.img-product{
  width: 150px;
  img{
    width: 100%;
  }
}
.fa-minus{
  float: left;
  width: 13px;
}
.fa-plus{
  float: right;
  width: 13px;
}
.payu {
  border: 0;
  height: 55px;
  width: 290px;
  background: url('http://static.payu.com/pl/standard/partners/buttons/payu_account_button_long_03.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

.ssl {
  background: url(https://static.parastorage.com/services/wix-ecommerce-cart/1.455.0/images/security-seal-2x.png) center no-repeat;
  width: 180px;
  height: 60px;
  background-size: 100%;
}

.payment {
  padding-top: 50px;
  .img-product{
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    img{
      width: 100%;
    }
  }
  p{
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 2em;
    font-style: normal;
    font-family: "Azo Sans";
  }
  h2{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    font-family: "Azo Sans";
    position: relative;
  }
  input{
    margin-top: 1px;
    margin-bottom: 20px;
  }
  .progress {
    background-color: transparent!important;
    .pay {
      margin-left: -25px;
      padding-left: 11px;
    }
    li{
      display: inline-flex;
      justify-content: center;
      padding: 15px 0px;
      background-color: #eceeef;
      position: relative;
      width: 100%;
    }
    h1{
      font-size: 3em;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      margin-bottom: 0 !important;

  }
    .current {
      border-bottom: #3999ed 2px solid;
      h1{
      color: #3999ed;
    }
    }
    .current2 {
      overflow-y: hidden;
      overflow-x: hidden;
    }

  }
  span {
    font-size: 0.4em;
    font-style: normal;
    font-weight: normal;
    font-family: "Azo Sans";
    text-align: initial;
    width: 50%;
    margin-left: 15px;
  }
  .fa-angle-right {
    margin:0;
    position: absolute;
    bottom: -35px;
    right: 0;
    color: white;
    z-index: 1;
    background-color: #eceeef;
    font-size: 150px;
  }

}
@media (max-width: 767px) {
  .payment {
    span {
      visibility: hidden;
      width: 0;
    }
  }
}

.btn active {
  background: black;
  color: white;
}
