<div class="container cart">
  <div class="row">
    <div class="col">
    <h1>My bag(ilość produktów)</h1>
    </div>
    <div class="col-6">
      <ul class="list-unstyled float-right">
      <li><button class="place-order">PLACE ORDER</button></li>
        <li class="text-center"><h5>Lub zamów przez</h5></li>
        <li><div class="payu"></div></li>
      </ul>
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th>Produkt</th>
          <th>Przedmiot</th>
          <th>Ilość</th>
          <th>Suma</th>
        </tr>
        </thead>
        <tr ng-repeat="item in cart">
          <th class="img-product">
            <img ng-src={{item.image}}>
            <a class="remove">Usuń Przedmiot</a>
          </th>
          <td>
            <ul class="list-unstyled">
              <li><h2>{{item.title}}</h2></li>
              <li><p>Size: {{item.size}}</p></li>
              <li><p>Cena: {{item.price}} {{currency}}</p></li>
            </ul>
          </td>
          <td>
            <div>
            <div class="quantity">
              <div>
            <i class="fa fa-minus"></i>
              </div>
              <div>
              <input ng-value="{{item.quantity}}">
              </div>
              <div>
                <i class="fa fa-plus" ng-click="addToCart(item)"></i>
              </div>
          </div>
            </div>
          </td>
          <td>{{item.total}} {{currency}}</td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
    <div class="col-12 text-right">
      <h5>Suma: {{total}} {{currency}}</h5>
    </div>
    <div class="col-12">
      <div>
      <div class="ssl float-left"></div>
      </div>
      <ul class="list-unstyled float-right">
        <li><button class="place-order" ui-sref="payment">PLACE ORDER</button></li>
        <li class="text-center"><h5>Lub zamów przez</h5></li>
        <li><div class="payu"></div></li>
      </ul>
    </div>
  </div>
</div>
