<div class="top-menu">
  <div class="container-fluid">
    <ul class="nav flex-column main-menu">
      <li class="nav-item">
        <a class="nav-link" play ng-click="StartVideo()"
           style=" position: relative; left: 4%;">#2017
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="CHANGE('home.all')">shop _
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="scroll('stores')" du-smooth-scroll="stores" du-scrollspy style="position: relative;
         left: 4%;">stores
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="scroll('contact')" du-smooth-scroll="contact"  du-scrollspy>contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="CHANGE('home.she')">she</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="CHANGE('home.he')">he</a>
      </li>
    </ul>
    <div class="row vid">
      <videogular vg-player-ready="onPlayerReady($API)" vg-theme="config.theme" vg-complete="onPlayerFinish()">
        <vg-media vg-src="config.sources">
        </vg-media>

        <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
        </vg-controls>
      </videogular>
    </div>
  </div>
</div>
<div></div>
<section id="items" class="items">
  <div ui-view></div>
</section>
<section id="stores" class="stores">
  <div class="container-fluid shops">
    <div class="row">
      <div class="find_us">
        <h1>FIND US</h1>
      </div>
      <div class="list">
        <div class="col-3">
          <h5>POLAND</h5>
          <p>Geszeft, Katowice</p>
        </div>
        <div class="col-3">
          <h5>GERMANY</h5>
          <p>XXX, Berlin</p>
        </div>
        <div class="col-3">
          <h5>GREAT BRYTAIN</h5>
          <p>XXX, London</p>
        </div>
        <div class="col-3">
          <h5>ONLINE</h5>
          <p>www.</p>
          <p>www.</p>
        </div>
      </div>
    </div>
  </div>

</section>
<section id="contact" class="contact">
  <div class="container-fluid contact">
    <div class="row">
      <div class="wow">
        <h2> ///</h2>
      </div>
      <div class="col-7">
        <h3 class="text-center"><a href="mailto:egometria@gmail.com?subject=Nazwa wiadomości&body=Treść wiadomości">contact us //egometria@gmail.com</a></h3>
      </div>
    </div>
  </div>

  <div class="container-fluid facebook">
    <div class="row">
      <div class="col-4">
        <p>facebook</p>
        <h5>collections  #2017#2016#2015#2014</h5>
        <h5>
          <span ng-click="scroll('shop')" du-smooth-scroll="shop" du-scrollspy>shop</span>/
          <span ng-click="scroll('stores')" du-smooth-scroll="stores" du-scrollspy>stores</span>/
          <span>about</span>/
          <span ng-click="scroll('contact')" du-smooth-scroll="contact"  du-scrollspy>contact</span>
        </h5>
      </div>
    </div>
  </div>

</section>
