<div class="text-center divider">
  <h1>SHE//////HE</h1>
</div>
<div id="shop" class="container-fluid item_list">
  <div class="row" ng-repeat="item in products" style="position: relative;">
      <div class="go_to" ng-class="{'she': item.tags[0].name == 'she','she-1':$index % 2 === 0 , 'she-2':$index % 3 === 0}">
        <h1>{{item.name}}///<span>{{item.price}} {{currency}}</span></h1>

        <button type="button" class="btn btn-primary presale" ng-click="GO(item.id)">×PRESALE×</button>
      </div>
      <div class="col products hidden" ng-class="{'push-6': item.tags[0].name == 'she'}">
        <div class="row" ng-class="{'half': item.images.length > 3}">
        <div class="col">
          <div class="photo"  bg-image="{{item.images[1].sizes}}">
        <!--<img class="img" ng-src="{{item.images[1].src}}" >-->
          </div>
        </div>
        <div class="col" ng-hide="item.images[2].src === undefined">
          <div class="photo"  bg-image="{{item.images[2].sizes}}">
          <!--<img class="img" ng-src="{{item.images[2].src}}" >-->
          </div>
        </div>
        <div class="w-100" ng-class="{'hidden': item.images.length < 4}"></div>
        <div class="col" ng-hide="item.images[3].src === undefined">
          <div class="photo"  bg-image="{{item.images[3].sizes}}">
          <!--<img class="img" ng-src="{{item.images[3].src}}" ng-class="{'wider': item.images.length === 4}" >-->
          </div>
        </div>
        <div class="col" ng-hide="item.images[4].src === undefined">
          <div class="photo"  bg-image="{{item.images[4].sizes}}">
          <!--<img class="img" ng-src="{{item.images[4].src}}" >-->
          </div>
        </div>
        </div>
      </div>

    <div class="col-6 products" ng-class="{'pull-6': item.tags[0].name == 'she'}">
      <div class="photo"  bg-image="{{item.images[0].sizes}}">
        <!--<img class="img"  ng-src="{{item.images[0].src}}">-->
      </div>
    </div>
    </div>
  </div>
