<div class="container-fluid details">
  <h2 ng-click="$close()">×</h2>
  <div class="row">
    <div class="col-6">
      <div class="photo" style="background: url('{{item.images[0].src}}') no-repeat center top; ">
    </div>
    </div>
    <div class="col-6">
      <ul class="container-fluid list-unstyled">
        <li class="row"><h1 class="col">{{item.name}}///<span>{{item.price}} {{currency}}</span></h1>
        </li>
        <li class="row">
          <h5 class="col-4 description">DESCRIPTION</h5>
          <h5>SIZES</h5>
          <p class="col-12">{{item.description | htmlTag}}</p>
        </li>
        <li class="btn-group-lg sizes">
          <button ng-repeat="sizes in item.attributes[0].options" type="button" class="btn btn-xs btn-primary" ng-click="select($index,sizes)" ng-class="{active: $index===selectedIndex}">{{sizes}}</button>
        </li>
        <li class="btn-group-lg submit">
          <button type="button" class="btn btn-primary" ng-click="Send()">×PRESALE×</button>
        </li>
        <li class="btn-group-lg submit">
        <button type="button" class="btn btn-primary" ng-click="addToCart('items', {product_id:item.id,
        quantity: 1,
        size: size})">×CART×</button>
      </li>
        <li class="btn-group-lg submit">
          <button type="button" class="btn btn-primary" ui-sref="cart"  ng-click="$close()">Go to cart</button>
        </li>
      </ul>
    </div>
  </div>
</div>

