<div class="container payment">
  <div class="row">
    <div class="col-12"><h1>EGOMETRIA Joanna Rodo{{first_name}}</h1></div>
    <div class="col-9">
      <ul class="list-unstyled progress">
        <li class="current" ng-click="CHANGE('payment.adress')" ng-class="{'current2':$state.includes('payment.shipment')|| $state.includes('payment.method') }">
          <h1>
            <div ng-hide="$state.includes('payment.shipment') || $state.includes('payment.method')">1</div>
            <i class="fa fa-check" ng-show="$state.includes('payment.shipment') || $state.includes('payment.method')"></i>
            <span>ADRES DOSTAWY</span>
            <i class="fa fa-angle-right"></i>
          </h1>
        </li>
      <li ng-click="CHANGE('payment.shipment')" ng-class="{'current':$state.includes('payment.shipment') || $state.includes('payment.method'), 'current2':$state.includes('payment.method' )}">
        <h1>
          <div ng-hide="$state.includes('payment.method')">2</div>
          <i class="fa fa-check" ng-show="$state.includes('payment.method')"></i>
          <span>OPCJE DOSTAWY</span>
          <i class="fa fa-angle-right"></i>
        </h1>
      </li>
      <li class="pay" ng-click="CHANGE('payment.method')" ng-class="{'current':$state.includes('payment.method')}">
        <h1>3
          <span>PŁATNOŚĆ</span>
        </h1>
      </li>
    </ul>
    </div>
    <div class="col-9" ui-view></div>
    <div class="col-3" style="top: -80px">
      <div class="row">
        <div class="col-12 ssl"></div>
        <div class="col-9">ŁĄCZNIE()</div>
        <div class="col-3"><a>Edytuj koszyk</a></div>
        <div class="col-12">
          <table>
            <tr>
            <td class="img-product">
              <img src="images/1.jpg">
            </td>
            <td>
              <ul class="list-unstyled">
                <li><p>Tytuł produktu</p></li>
                <li><p>Size: ...</p></li>
                <li><p>Cena: jednostkowa</p></li>
                <li><p>Ilość: sztuki</p></li>
              </ul>
            </td>
            </tr>
            <tr>
              <td class="img-product">
                <img src="images/1.jpg">
              </td>
              <td>
                <ul class="list-unstyled">
                  <li><p>Tytuł produktu</p></li>
                  <li><p>Size: ...</p></li>
                  <li><p>Cena: jednostkowa</p></li>
                  <li><p>Ilość: sztuki</p></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="float-right" ng-click="GO()">DALEJ</button>
    </div>
  </div>
</div>

