<ul class="list-group">
  <li class="list-group-item" ng-repeat="method in payment_gateway" ng-click="select($index,method.id,method.title)" ng-class="{active: $index===selectedIndex}">{{method.method_title}}</li>
</ul>
