  <h2>Dokąd chcesz, by wysłano zamówienie?</h2>
  <ul class="list-unstyled">
    <li>Imie i Nazwisko</li>
    <li><input ng-model="first_name"></li>
    <li>Adres email</li>
    <li><input ng-model="email_adress"></li>
    <li>Adres</li>
    <li><input ng-model="adress"></li>
    <li>Miasto</li>
    <li><input ng-model="city"></li>
    <li>Kraj</li>
    <li><input ng-model="country"></li>
    <li>Kod Pocztowy</li>
    <li><input ng-model="postal_code"></li>
    <li>Numer telefonu</li>
    <li><input ng-model="telephone_number"></li>
    <li><input type="checkbox">Mój adres rozliczeniowy jest taki sam, jak adres dostawy</li>
  </ul>

