<ul class="list-group">
  <li  class="list-group-item" ng-repeat="method in shipping" ng-click="select($index, method.method_id,method.method_title)" ng-class="{active: $index===selectedIndex}">{{method.title}}</li>
</ul>
