<div class="container-fluid send">
  <h2 ng-click="$close()">×</h2>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">×PRESALE×</h1>
      <form ng-submit="submit()">
      <input class="text-center" type="email" ng-model="text" placeholder="wpisz swój mail">
      <button type="submit" class="btn-primary submit">WYŚLIJ</button>
      </form>
    </div>
  </div>
</div>
